<%= stylesheet_link_tag "index" %>
<div class="container">
	<div class="row">
		<div class="col">
			<%= render 'shared/sidebar' %>
		</div>
		<div class="col col-lg-10" style="top: 40px">
			<div class="row">
				<div class="col-lg-8">
    	    		<h1 class="page-header">Lista de produtos</h1>
            		<table class="table table-stripped table-bordered">
      					<tbody>
      						<% 	count = 0
      							@products.each do |prod|
      							count += 1
      						%>
	        					<tr>
	          						<td>
	          							<%= image_tag(prod.photos[0].url, class: "img-circle",
	          								height: 140, width: 200) %>
	          						</td>
	          						<td style="text-align: center; width: 600px">
	          							<div style="text-align: center; width: 400px">
											<strong>
												<%= link_to "#{prod.name}", product_path(id: prod.id) %>
											</strong>
										</div>
										<div style="float: left; padding-top: 90px;">
											<b><em><%= "R$ #{prod.price}" %></em></b>
										</div>
										<div style="float: right; padding-top: 90px;">
											<em>
												<b><%= prod.created_at.strftime("Criado em: %d/%m/%y") %></b>	
											</em>
										</div>
	          						</td>
	          						<% if action_name == "my_products" %>
	          							<td style="border: hidden; border-left: 1px;">
	          								<ul style="list-style-type: none;">
	          									<li>
	          										<%= link_to edit_product_path(id: prod.id) do %>
	          											<button class="btn btn-warning">Editar</button>
	          										<% end %>
	          									</li>
	          									<br />
	          									<li>
	          										<%= button_to 'Remover', { action: :destroy,
	          										 	id: prod.id, remote: true }, method: :delete, class: "btn btn-danger" %>
	          									</li>
	          								</ul>
	          							</td>
					          		<% end %>
	        					</tr>
	        				<% end %>
        				</tbody>
        			</table>
        			<div class="digg_pagination">
    					<div class="page_info">
      						<%= page_entries_info @products %>
    					</div>
    					<%= will_paginate @products, :container => false %>
  					</div>
        		</div>
        	</div>
		</div>
	</div>
</div>
