<div class="row" align="center">
	<div class="col-md-12">
		<% for photo in @product.photos %>
			<%= image_tag(photo, class: "img-circle", size: 100, align: "middle") %>
		<% end %>
		<%= simple_form_for @product do |p| %>
			<%= p.file_field :photos, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
			<%= p.hidden_field :user_id, value: current_user.id %>
			<%= p.input :name %>
			<%= p.input :price %>
			<%= p.input :description %>
			<%= p.button :submit %>
		<% end %>
	</div>
</div>
