<div class="col-10" style="margin: 0px; padding: 0px">
  <b><h2 class="text-primary" align="center">Criar produto</h2></b>
    <div class="bg-light" align="center">
		<%= simple_form_for @product, :html => {:class => 'form-basic'} do |p| %>
			<%= p.hidden_field :user_id, value: current_user.id %><br />
			<%= p.input :name, label: false, :placeholder => "Nome do produto" %><br />
			<%= p.input :price, label: false, :placeholder => "Preço do produto" %><br />
			<%= p.input :description, label: false, :placeholder => "Descrição do produto" %>
			<%= p.nested_fields_for :images do |pp| %>
				<%= pp.remove_nested_fields_link 'Remover esta foto' %>
				<br>
				<%= pp.file_field :photo, accept: "image/jpeg, image/jpg, image/gif,
					image/png" %>
				<%= pp.input :product_id, :as => :hidden %>
			<% end %>
			<%= p.add_nested_fields_link :images, 'Adicione mais fotos!' %>
			<br>
		<%= p.button :submit, class: "btn btn-primary" %>

		<% end %>
	</div>
</div>
